body {
    margin: 0;
    padding: 0;
    background: #2994b2;
}
.box {
    background-color: #ffb400;
    width: 300px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    /* transform: translate(-50%, -50%);
    border-radius: 30px; */
    animation-name: roll;
    animation-duration:4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes roll {
    from { 
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
    0% {
        border-top-right-radius: 0%;
        border-bottom-left-radius: 0%;
        border-top-left-radius: 50%;
        border-bottom-right-radius: 50%;
    }
    50% {
        border-top-right-radius: 50%;
        border-bottom-left-radius: 50%;
        border-top-left-radius: 0%;
        border-bottom-right-radius: 0%;
    }
    100% {
        border-top-right-radius: 0%;
        border-bottom-left-radius: 0%;
        border-top-left-radius: 50%;
        border-bottom-right-radius: 50%;
    }
}