* {
	margin: 0;
	padding: 0;
	font-family: monospace;
}

body {
	background: #ffb400;
}

nav.container {
	background: #474744;
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 40px;
}

a.item {
	text-decoration: none;
	/* color: #8ab4f8; */
	color: #fffbe0;
	font-size: 30px;
}

a.item:hover {
	color: #2994b2;
	font-size: 35px;
}

div#hello {
	background: blue;
	/* height: 100px; */
	/* position: relative; */
	width: 100vw;
}

img#santa {
	max-width: 95%;
	max-height: 95vh;
	width: 50%;
}
