body { 
    background: url("images/collins-pocket.jpg") no-repeat fixed center; 
}
img {
    max-width: 95%;
    height: 700px;
}
div.content {
    text-align: center;
    color: white;
}
a {
    color: white;
}

#myCanvas {
    /* background: white; */
    border:1px solid #000000;
}

